{% extends "layouts/email_layout.html" %}

{% block title %}Password Reset Request - {{ app_name }}{% endblock %}

{% block subtitle %}Password Reset Request{% endblock %}

{% block content %}
    <h2>Password Reset Request</h2>
    <p>Hello <strong>{{ user_name }}</strong>,</p>
    
    <p>You requested to reset your password for the <strong>{{ app_name }}</strong>.</p>
    
    <div style="text-align: center;">
        <a href="{{ reset_url }}" class="button">Reset Your Password</a>
    </div>
    
    <p>Or copy and paste this link in your browser:</p>
    <div class="code-box">
        {{ reset_url }}
    </div>
    
    <div class="warning">
        <p><strong> Important Security Information:</strong></p>
        <ul>
            <li>This link will expire in <strong>1 hour</strong></li>
            <li>For security reasons, <strong>never share this link</strong> with anyone</li>
            <li>If you didn't request this password reset, please ignore this email</li>
            <li>Your password will not change until you click the link above</li>
        </ul>
    </div>
    
    <div class="info-box">
        <p><strong>Need help?</strong></p>
        <p>If the button above doesn't work, you can also:</p>
        <ol>
            <li>Visit: <span class="highlight">{{ base_url }}/reset-password</span></li>
            <li>Enter this reset token: <span class="highlight">{{ reset_token }}</span></li>
        </ol>
    </div>
    
    <p>Best regards,<br>
    <strong>{{ app_name }} Support Team</strong></p>
{% endblock %}